version: '3.8'

services:
  backend:
    build: ./backend-node
    restart: always
    ports:
      - "8001:8001"
    environment:
      - PORT=8001
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - NODE_ENV=production
    depends_on:
      - redis

  frontend:
    build: ./frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend

  redis:
    image: redis:alpine
    restart: always
    ports:
      - "6379:6379"
